/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #C3C3C3 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1f1e1e;
    border-radius: 10px;
    border: 4px solid #ffffff;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    word-spacing: 2px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


body{
    position: relative;
}
button{
    cursor: pointer;
}

/* Header start */

.header__wrapper{
    overflow: hidden;
}
.header__top_section, .top__section_icon_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.top__section_icon_container{
    justify-content: left;
}
.header__top_section, .header__main_ul, .ul__search_container{
    padding-left: 54px;
    padding-right: 54px;
}
.header__top_section{
    width: 100%;
    height: fit-content;
    height: auto;
    background-color: #161618;
    border-bottom: 1px solid #414143;
}
.header__thumbnail{
    width: 100%;
    height: auto;
    color: #fff;
}
.thumbnail__column{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-title{
    font-size: 3.8rem;
    width: 100%;
    margin-bottom: 2rem;
    color: #161618;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 13px;
}
.thumbnail__column .column{
    margin-left: 1rem;
}
.team{
    font-size: 1.5rem;
    width: fit-content;
    color: #161618;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: .2s all;
}
.recruit{
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    border-bottom: 1px solid #161618;
    transition: .2s all;
    padding-bottom: 0.5rem;
}
.recruit img{
    width: 30px;
    height: 30px;
    transition: .2s all;
}
.recruit:hover{
    border-bottom: 1px solid transparent;
}
.recruit:hover img{ 
    transform: translateX(10px);
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    height: 50px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding-top: 1rem;
    z-index: 999;
  }
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle {
    display: none;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 2px;
    width: 30px;
    transition: .2s all;
    border-radius: 2px;
  }
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
  }
.thumbnail__wrapper{
    width: 100%;
    height: 90vh;
    background-image: url(../img/thumb.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
}
header a{
    color: #fff;
}
.icon img{
    width: 35px;
    height: 35px;
    margin: 10.5px;
}
.logo img{
    max-width: 150px;
    height: auto;
}
.main_title{
    width: auto;
    text-align: left;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
}
.lang{
    color: #fff;
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-right: 1rem;
}
.eng{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.ua{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.lang__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.link_button{
    color: #1c1c1c;
}
.lang-switcher{
    padding: 0.7rem;
    transition: .2s all;
    text-align: center;
    width: 80px;
}
.top__section_language_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.lang-switcher:hover{
    background: #fff;
}
.lang-switcher:hover a{
   color: #1c1c1c;
}
.lang-switcher:active,
.lang-switcher:visited{
    background: #fff;
}
.lang-switcher:active,
.lang-switcher:visited a{
   color: #1c1c1c;
}
.ul__search_container{
    max-width: 100%;
    width: 100%;
    background-color: #161618;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ul_container ul{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    position: relative;
}
.ul_container ul>li{
    text-transform: uppercase;
    padding-right: 1.3rem;
    font-weight: 600;
    font-size: 1.2rem;
}
.input__flex{
    min-width:200px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 0.35rem;
}
.input__flex input{
    padding: 0.25rem;
    padding-right: 0.5rem;
    border: none;
    font-size: 15px;
    font-weight: 700;
    padding-left: 0.5rem;
}
.input__flex input::placeholder{
    text-transform: uppercase;
    color: #c3c3c3;
    font-size: 15px;
}
.input__flex input:focus{
    outline: 0;
}

/* Header end */

/* main start */

.wrapper__represent button{
    width: fit-content;
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.6rem 2rem 0.6rem 2rem;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .2s all;
}
.wrapper__represent button:hover{
   background: #fff;
   color: #000;
}
.support__wrapper button{
    width: fit-content;
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.6rem 2rem 0.6rem 2rem;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.form__wrapper button{
    width: fit-content;
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.6rem 2rem 0.6rem 2rem;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.main__imgs{
    display: flex;
	justify-content: left;
	align-items: center;
}
.wrapper__represent{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 500px;
    height: auto;
    padding: 3rem;
}
.form__represent{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    min-height: 350px;
    height: auto;
    padding: 3rem;
    position: relative;
    color: #161618;
    background-image: url(../img/footer.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;

}
.form__represent .text{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    background: #161618;
}
.form__represent .title__block{
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.vertical{
    flex-direction: column;
    align-items: flex-start;
}
.wrapper__represent:nth-child(even){
    background-image: url(../img/even_background.svg);
    background-size: cover;
    color: #fff;
}
.rose img{
    max-width: 200px;
    height: auto;
}
.badge{
    max-width: 415px;
    object-fit: cover;
}
.badge img{
    width: 100%;
}
.title{
    font-size: 2.5rem;
    padding-top: 1rem;
    margin-right: 2rem;
} 
.wrapper__represent .title__block{
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block__text .text{
    max-width: 450px;
}
.block__text{
    width: auto;
}
.title:first-child{
    padding-top: 0;
}
.bold-spaced{
    font-weight: 700;
    letter-spacing: 2px;
}
.learn__button{
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 1rem;
}
.learn__button a{
    color: #151515;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid #151515;
    text-transform: uppercase;
}
.company{
    text-transform: uppercase;
    font-weight: 700;
}
.text{
    padding-top: 1rem;
    font-size: 1.2rem;
    text-align: left;
}
.vertical .block__text{
    width: 100%;
}
.aspect .special_info{
    display: flex;
    flex-wrap: wrap;
}
.aspect__special_info_block{
    margin-top: 1rem;
    margin-right: 1rem;
}
.special_info__wrapper{
    max-width: 350px;
    width: 300px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #414143;
}
.special_info__image{
    max-width: auto;
}
.special_info__content p{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    min-height: 200px;
}
.special_info__image img{
    width: 100%;
    min-height: 232px;
    height: auto;
    max-height: 232px;
    object-fit: cover;
}
.special_info__button{
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    border-top: 1px solid #414143;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.special_info__button:hover .arrow_goto img{
    transform: rotate(45deg);
}
.arrow_goto{
    max-width: 60px;
    height: 60px;
    padding: 0.8rem;
    border-left: 1px solid #414143;
}
.arrow_goto img{
    width: 100%;
    transition: -webkit-transform .2s cubic-bezier(.5,.15,.5,.85) .1s;
    transition: transform .2s cubic-bezier(.5,.15,.5,.85) .1s;
    transition: transform .2s cubic-bezier(.5,.15,.5,.85) .1s,-webkit-transform .2s cubic-bezier(.5,.15,.5,.85) .1s;
}
.special_info__button a{
    color: #000;
    margin-right: 1rem;
}

/* main end */

/* footer start */

.footer__wrapper{
    width: 100%;
    background: #161618;
    color: #fff;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-weight: 1000;
    font-size: 0.8rem;
}
.row-top{
    border-top: 1px solid #414143;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
}
.col-text{
    text-transform: uppercase;
    padding: 1rem;
}
.col-text a{
    color: #fff;
    padding-bottom: 0.5rem;
}
.input-block{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.input-row{
    display: flex;
    flex-direction: row;
}
.input-block input{
    width:100%;
    height: 50px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    font-size: 15px;
    background: #efefef;
    font-weight: 700;
}
.input-block input:first-child{
    margin-right:0.5rem;
}
.input-block input::placeholder{
    text-transform: uppercase;
    color: #c3c3c3;
    font-size: 15px;
}
.button{
    width: 100%;
    background: #161618;
    color: #fff;
    padding: 1rem;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.input-block input:focus{
    outline: 0;
}
.footer__text{
    width: 50%;
    padding: 1rem;
}
.mobile-logo{
    display: none;
}

/* footer end */

